:root {
    --color-principal: #6489ff;
    --color-secundario: #ffb347;
    --color-acento: #ffcc5c;
    --color-neutro: #f3f3ff;
    --color-contraste: #ff1500;
    --color-fondo: #ffffff;
    --color-texto: #333333;

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-success-variant: #1dd17a;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1c1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-alert: #ffe372;
    --color-alert-variant: #ffcf21;

    --pastel-rojo: #ff9f9f;
    --pastel-celeste: #c5edff;
    --pastel-verde: #bae4bc;
    --pastel-lavanda: #EDE7F6;
    --pastel-blanco: #FFF0F5;

    --color-green: rgba(0, 227, 0, 0.6);
    --color-green-variant: rgb(72, 255, 0);
    --color-orange: rgba(255, 157, 0, 0.583);
    --color-orange-variant: rgb(255, 157, 0);
}

.main {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.main-text {
    margin: 20px 0;
    font-size: 22px;
    font-family: 'Lexend'
}

.main-text span {
    font-weight: bold;
    text-transform: uppercase;
}

.card-conteiner {
    display: grid;
    grid-template-columns: 1fr, 1.5fr, 1fr, 1.5fr;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
    gap: 30px;
    justify-items: stretch;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-fondo);
    border-radius: 20px;
    box-shadow: 0 7px 15px 0 var(--color-light);
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    height: 110px;
    position: relative;
    transition: all 300ms ease-in-out;

    &:hover {
        transform: scale(1.03, 1.03);
        box-shadow: 0 10px 20px 0 var(--color-info-dark);
        transition: all 300ms ease-in-out;
    }
}

.number {
    font-size: 35px;
    font-weight: bold;
    color: var(--color-white);
    font-family: 'Lexend';
}

.card-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-white);
    font-family: 'Lexend';
    margin-bottom: 10px;
}

.card:nth-child(1),
.card:nth-child(2){
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-variant) 100%);
}

.card:nth-child(3),
.card:nth-child(4) {
    background: linear-gradient(90deg, var(--color-success) 0%, var(--color-success-variant) 100%);
    
    .number {
        color: var(--color-dark);
    }
} 
    

.icon-box i {
    font-size: 35px;
    color: var(--color-white);
}

.percentage-circle {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--color-success-variant); /* Verde para aumento */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

/*********************************************************************/

.section-charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    padding: 0;
    padding-top: 0;
}

.chart {
    background-color: var(--color-fondo);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 15px var(--color-light);
    width: 95%;
}

.chart h2 {
    font-family: 'Lexend';
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.chart:nth-child(2) {
    justify-self: right; 
}

@media (max-width: 1920px) {
    .chart{
        margin-top: 50px;
    }
}


.section-pendientes-resumen {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    gap: 80px;
}

.pendientes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 425px;
    margin: 50px 0 20px 0;
    padding-bottom: 20px;
    background-color: var(--color-fondo);
    box-shadow: 0 3px 15px var(--color-light);
    border-radius: 20px;
}

.section-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 15px;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 25px var(--color-light);

    & h4{
        color: var(--color-primary);
        font-size: 20px;
        font-family: 'Lexend';
        font-weight: bold;
    }

    & span {
        font-size: 30px;
        color: var(--color-warning);
    }
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        background-color: var(--color-info-light);
        width: 10px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-info-dark); 
        border-radius: 5px;
    }
}

.alert-list {
    width: 100%;
    height: 100%;
}

.recordatorios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-alert);
    border-left: 5px solid var(--color-warning);
    color: var(--color-white);
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--color-light);
    font-family: 'Lexend';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.01, 1.01);
        background-color: var(--color-warning);
        box-shadow: 0px 4px 15px var(--color-light);
        transition: all 0.3s ease;
    }
}


.estadoPedidos, .resumen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 155px;
    background-color: var(--color-fondo);
    box-shadow: 0 3px 15px var(--color-light);
    border-radius: 20px
}

.estadoPedidos{
    height: 250px;
    margin: 50px 0 20px 0;
}

.pedidos-header, .resumen-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 20px;
    box-shadow: 0px 3px 15px var(--color-light);
    border-radius: 20px 20px 0 0;
    gap: 10px;

    & h4 {
        font-size: 20px;
        font-weight: bold;
        color: var(--color-primary);
        font-family: 'Lexend';
    }

    & span {
        font-size: 30px;
        color: var(--color-dark);
    }
}

.resumen-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 20px;
}

.btn-imprimir {
    width: 100%;
    height: 40px;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 15px var(--color-light);

    & i{
        font-size: 20px;
    }
}

.btn-imprimir:hover {
    background-color: var(--color-primary-variant);
    box-shadow: 0 6px 20px var(--color-light);
}

.pedidos-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circulo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.circulo-header {
    display: flex;
    justify-content: center;
    align-items: center;

    & i {
        font-size: 30px;
    }
}

.text-circulo {
    text-align: center;
    font-family: 'Lexend';
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-dark);
}

.circulo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0 5px;
    margin-bottom: 10px;
    color: var(--color-white);
    box-shadow: inset 0px 5px 25px var(--color-dark);
    transition: all 300ms ease-in-out;

    &:hover {
        transform: scale(1.05, 1.05);
        /* box-shadow: 0 10px 30px var(--color-info-dark); */
    }
}

.circulo1 {
    background: radial-gradient(circle, var(--color-primary) 0%, var(--color-primary-variant) 100%);
}

.circulo2 {
    background: radial-gradient(circle, var(--color-success) 0%, var(--color-success-variant) 100%);
}

.circulo3 {
    background: radial-gradient(circle, var(--color-danger) 0%, var(--color-contraste) 100%);
}


.estado-pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend';
    font-size: 30px;
    font-weight: bold;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 6px 8px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Lexend';
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}