@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar fijo y contenido flexible */
    grid-template-rows: 60px auto; /* Header fijo y el resto del contenido flexible */
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
    overflow-x: hidden;
    background-color: var(--color-background);
    color: var(--color-dark);
}

/*********************************************************************/

/* ! Inicio */

.header {
    grid-column: span 2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-dark);
    color: var(--color-white);
    box-shadow: 0 2px 4px var(--color-light);
}

/* Logo y título */
.left-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 50px;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.left-header span{
    margin: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}


/* Menú de navegación */
.sidebar {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    width: 225px;
    min-height: calc(100vh - 60px);
    padding: 20px;
    grid-row: 2 / 3; /* Mantiene la posición debajo del header */
    position: relative;
    box-shadow: 0 4px 8px var(--color-light);
}

.sidebar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-menu h4 {
    color: var(--color-warning);
    margin: 25px 0 5px 8px;
    font-size: 15px;
    padding: 5px 0px;
    font-family: 'Lexend';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .6px;
    margin-top: 30px;
}

.sidebar-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-dark-variant);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Lexend';
    border: none;
    transition: background-color 0.3s ease;
}

.btn-logout{
    background-color: transparent;
}

.icono-barra {
    padding-right: 15px;
    font-size: 20px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;  
    margin-top: auto; 
}

.sidebar-text.active,
.sidebar-text:hover {
    background: linear-gradient(90deg, var(--color-primary-variant) 0%, var(--color-primary) 100%);
    /* background: linear-gradient(90deg, var(--color-dark) 0%, var(--color-dark-variant) 100%); */
    color: var(--color-white);
    font-weight: 600;
    text-transform: uppercase;
}