@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr; /* Sidebar fijo y contenido flexible */
    grid-template-rows: 60px auto; /* Header fijo y el resto del contenido flexible */
    min-height: 100vh;
    font-family: 'Inter', Arial, sans-serif;
}

/*********************************************************************/

/* ! Inicio */

.header {
    grid-column: span 2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* background: linear-gradient(135deg, #2c2c2c, #333333, #FFD700, #ffa600f1); */
    background-color: #2c2c2c;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo y título */
.left-header {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    width: 50px;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.left-header span{
    margin: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}


/* Menú de navegación */
.sidebar {
    width: 225px;
    min-height: calc(100vh - 60px);
    /* background-color: #2c2c2c; */
    padding: 20px;
    display: flex;
    flex-direction: column; 
    grid-row: 2 / 3; /* Mantiene la posición debajo del header */
    position: relative;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar-menu {
    flex-grow: 1;
}

.sidebar-menu h4 {
    color: #ffc400;
    margin: 25px 0 5px 8px;
    font-size: 14px;
    padding: 5px 0px;
    font-family: 'Lexend';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .6px;
}

.sidebar-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Lexend';
    transition: background-color 0.3s ease;
}

.sidebar-text.active,
.sidebar-text:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.bi {
    padding-right: 15px;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;  
    margin-top: auto; 
    position: fixed;
    bottom: 0;
}

#cerrarSesion {
    border: none;
    background-color: transparent;
}


@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: static;
    }
}