:root {
    --color-principal: #6489ff;
    --color-secundario: #ffb347;
    --color-acento: #ffcc5c;
    --color-neutro: #f3f3ff;
    --color-contraste: #ff1500;
    --color-fondo: #ffffff;
    --color-texto: #333333;

    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-success-variant: #1dd17a;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1c1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-alert: #fff8dc;
    --color-alert-variant: #ff5b5bbe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(90deg, var(--color-dark) 0%, var(--color-dark-variant) 100%);  
    background-size: cover;
    background-position: center;
}

.container {
    background-color: var(--color-fondo);
    border-radius: 150px;
    box-shadow: 0 5px 100px var(--color-light);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: var(--color-white);
}

.container form {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
}

form h1 {
    margin-bottom: 15px
}

.container input {
    width: 100%;
    background: var(--color-white);
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 20px;
    /* box-shadow: #cff0ff 0px 10px 10px -5px; */
    box-shadow: 0 1px 15px var(--color-info-light);
    border-inline: 2px solid transparent;
    outline: none;
}

.sign-up, .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6 ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.01s ease-in-out;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toogle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px;
    z-index: 1000;
    transition: all 0.6 ease-in-out;
}

.container.active .toogle-container {
    transform: translateX(-100%);
    border-radius: 150px;
}

.toogle {
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6 ease-in-out;
}

.container.active .toogle {
    transform: translateX(50%);
}

.toogle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6 ease-in-out;
}

.toogle-left {
    transform: translateX(-200%);
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-variant) 100%);
}

.container.active .toogle-left {
    transform: translateX(0);
}

.toogle-right {
    right: 0;
    transform: translateX(0);
    background: linear-gradient(90deg, var(--color-primary-variant) 0%, var(--color-primary) 100%);
}

.container.active .toogle-right {
    transform: translateX(200%);
}

.msj-error {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 57, 57);
    font-size: 16px;
    margin-top: 25px;
}

.escondido {
    display: none;
}